@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    display: none;
    background: #333;
}

.title-msg {
    color: #fff;
    margin-left: 10px;
}

.input-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    border-radius: 10px;
    background: #111;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.425);
}

.input-box > form > input {
    font-size: 15.5px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    width: 300px;
    height: 40px;
    margin-top: -10px;
    margin-left: 40px;
}

.input-box > form > input::selection {
    background: rgb(132, 0, 255);
}

.error {
    font-size: 13.5px;
    margin-top: 23px;
    margin-left: 10px;
    text-shadow: 0px 0px 3px rgba(197, 111, 111, 0.548);
    color: rgb(197, 111, 111);
}

.mtitle {
    display: flex;
}

.title-msg {
    color: #fff;
    margin-left: 10px;
}

.login-s {
    font-size: 13.5px;
    margin-top: 17.5px;
    margin-left: auto;
    margin-right: 30px;
    text-shadow: rgba(102, 196, 107, 0.548);
    color: rgb(102, 196, 107);
}